flows.json
[{"id":"f7ec1663.15fda8","type":"tab","label":"Shelly Devices","disabled":false,"info":""},{"id":"bd85d615.de5678","type":"udp in","z":"f7ec1663.15fda8","name":"","iface":"","port":"5683","ipv":"udp4","multicast":"true","group":"224.0.1.187","datatype":"utf8","x":120,"y":160,"wires":[["7dd43e68.4966d"]]},{"id":"7dd43e68.4966d","type":"function","z":"f7ec1663.15fda8","name":"Ceck if data ","func":"\nif (msg.payload.toString().indexOf('cit') < 0)\n{\n    return null\n}\n\nif (msg.payload.toString().indexOf('SH') < 0)\n{\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["16329b2d.03abe5"]]},{"id":"ca463705.5e0ad8","type":"MSSQL","z":"f7ec1663.15fda8","mssqlCN":"b530c4cf.ed3908","name":"Create Tables","query":"use HA;\nIF (NOT EXISTS (SELECT * \n                 FROM INFORMATION_SCHEMA.TABLES \n                 WHERE TABLE_SCHEMA = 'TheSchema' \n                 AND  TABLE_NAME = 'ShellyDevices'))\nBEGIN\n/****** Object:  Table [dbo].[ShellyDevices]    Script Date: 26/02/2020 5:18:20 PM ******/\nSET ANSI_NULLS ON;\n\nSET QUOTED_IDENTIFIER ON;\n\nCREATE TABLE [dbo].[ShellyDevices](\n\t[MAC] [nvarchar](12) NULL,\n\t[Date_Added] [datetime] NULL,\n\t[Model] [nvarchar](50) NULL,\n\t[Ip] [nvarchar](20) NULL,\n\t[Name] [nvarchar](100) NULL,\n\t[Last_Update] [datetime] NULL,\n\t[Firmware] [nvarchar](max) NULL\n) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];\n\nALTER TABLE [dbo].[ShellyDevices] ADD  CONSTRAINT [DF_ShellyDevices_DateAdded]  DEFAULT (getdate()) FOR [Date_Added];\n\nALTER TABLE [dbo].[ShellyDevices] ADD  CONSTRAINT [DF_ShellyDevices_Last_Update]  DEFAULT (getdate()) FOR [Last_Update];\n\nEND","outField":"payload","x":560,"y":80,"wires":[[]]},{"id":"16329b2d.03abe5","type":"http request","z":"f7ec1663.15fda8","name":"Get Device Settings","method":"GET","ret":"obj","paytoqs":false,"url":"http://{{{ip}}}/settings","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":160,"wires":[["63a15197.0251e"]]},{"id":"7533b999.4d3ef8","type":"inject","z":"f7ec1663.15fda8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["c81ab122.f469e"]]},{"id":"c81ab122.f469e","type":"MSSQL","z":"f7ec1663.15fda8","mssqlCN":"b530c4cf.ed3908","name":"Create HA Database","query":"IF (NOT EXISTS (SELECT name \nFROM master.dbo.sysdatabases where name = 'HA'))\nBEGIN\nuse master;\nCREATE DATABASE [HA];\nIF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))\nbegin\nEXEC [HA].[dbo].[sp_fulltext_database] @action = 'enable'\nend;\n\nALTER DATABASE [HA] SET ANSI_NULL_DEFAULT OFF ;\n\nALTER DATABASE [HA] SET ANSI_NULLS OFF ;\n\nALTER DATABASE [HA] SET ANSI_PADDING OFF ;\n\nALTER DATABASE [HA] SET ANSI_WARNINGS OFF ;\n\nALTER DATABASE [HA] SET ARITHABORT OFF ;\n\nALTER DATABASE [HA] SET AUTO_CLOSE OFF ;\n\nALTER DATABASE [HA] SET AUTO_SHRINK OFF ;\n\nALTER DATABASE [HA] SET AUTO_UPDATE_STATISTICS ON ;\n\nALTER DATABASE [HA] SET CURSOR_CLOSE_ON_COMMIT OFF ;\n\nALTER DATABASE [HA] SET CURSOR_DEFAULT  GLOBAL ;\n\nALTER DATABASE [HA] SET CONCAT_NULL_YIELDS_NULL OFF ;\n\nALTER DATABASE [HA] SET NUMERIC_ROUNDABORT OFF ;\n\nALTER DATABASE [HA] SET QUOTED_IDENTIFIER OFF ;\n\nALTER DATABASE [HA] SET RECURSIVE_TRIGGERS OFF ;\n\nALTER DATABASE [HA] SET  DISABLE_BROKER ;\n\nALTER DATABASE [HA] SET AUTO_UPDATE_STATISTICS_ASYNC OFF ;\n\nALTER DATABASE [HA] SET DATE_CORRELATION_OPTIMIZATION OFF ;\n\nALTER DATABASE [HA] SET TRUSTWORTHY OFF ;\n\nALTER DATABASE [HA] SET ALLOW_SNAPSHOT_ISOLATION OFF ;\n\nALTER DATABASE [HA] SET PARAMETERIZATION SIMPLE ;\n\nALTER DATABASE [HA] SET READ_COMMITTED_SNAPSHOT OFF ;\n\nALTER DATABASE [HA] SET HONOR_BROKER_PRIORITY OFF ;\n\nALTER DATABASE [HA] SET RECOVERY FULL ;\n\nALTER DATABASE [HA] SET  MULTI_USER ;\n\nALTER DATABASE [HA] SET PAGE_VERIFY CHECKSUM  ;\n\nALTER DATABASE [HA] SET DB_CHAINING OFF ;\n\nALTER DATABASE [HA] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) ;\n\nALTER DATABASE [HA] SET TARGET_RECOVERY_TIME = 60 SECONDS ;\n\nALTER DATABASE [HA] SET DELAYED_DURABILITY = DISABLED ;\n\nALTER DATABASE [HA] SET QUERY_STORE = OFF;\n\nALTER DATABASE [HA] SET  READ_WRITE ;\n\n\nEND","outField":"payload","x":320,"y":80,"wires":[["ca463705.5e0ad8"]]},{"id":"63a15197.0251e","type":"MSSQL","z":"f7ec1663.15fda8","mssqlCN":"b530c4cf.ed3908","name":"Update Devices","query":"use HA;\nif not EXISTS (select * from ShellyDevices where [MAC] = '{{{payload.device.mac}}}')\nbegin\ninsert into ShellyDevices (MAC, Model) values ('{{{payload.device.mac}}}', '{{{payload.device.type}}}');\nend\nELSE\nbegin\n\n\nupdate ShellyDevices set ip = '{{{ip}}}', Last_Update = getdate(), Firmware = '{{{payload.fw}}}' where [MAC] = '{{{payload.device.mac}}}'\nend","outField":"result","x":780,"y":160,"wires":[[]]},{"id":"682c0a31.48ac34","type":"inject","z":"f7ec1663.15fda8","name":"Update QA Firmware","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["95bf0e14.59ced"]]},{"id":"95bf0e14.59ced","type":"MSSQL","z":"f7ec1663.15fda8","mssqlCN":"b530c4cf.ed3908","name":"Update Devices","query":"use HA;\nSelect * from ShellyDevices where IP is not null and Model is not null order by Model, IP;","outField":"result","x":360,"y":260,"wires":[["9166de05.981b7"]]},{"id":"9166de05.981b7","type":"bigsplitter","z":"f7ec1663.15fda8","name":"","property":"result","x":540,"y":260,"wires":[["3c41660e.d718ba"],[]]},{"id":"3c41660e.d718ba","type":"function","z":"f7ec1663.15fda8","name":"","func":"var url = \"http://\" + msg.payload.Ip + \"/ota?url=\"\nurl += \"http://repo.shelly.cloud/firmware/test/\" + msg.payload.Model  + \"_build.zip\"\nmsg.url = url\nreturn msg","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["812c6c52.60d24"]]},{"id":"812c6c52.60d24","type":"http request","z":"f7ec1663.15fda8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":260,"wires":[["a74155c6.662ed8"]]},{"id":"a74155c6.662ed8","type":"debug","z":"f7ec1663.15fda8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":320,"wires":[]},{"id":"40a0db69.d94ff4","type":"comment","z":"f7ec1663.15fda8","name":"Create Database and Tables","info":"","x":140,"y":40,"wires":[]},{"id":"b5cc5bbd.0aa3d8","type":"comment","z":"f7ec1663.15fda8","name":"Listen to CoAP Multicast and Update Shelly Devices","info":"Data string must contain both 'cit' and 'SH'","x":210,"y":120,"wires":[]},{"id":"226e4fe7.a1af3","type":"comment","z":"f7ec1663.15fda8","name":"Update all devices to QA Firmware","info":"Data string must contain both 'cit' and 'SH'","x":160,"y":220,"wires":[]},{"id":"b530c4cf.ed3908","type":"MSSQL-CN","z":"","name":"ShellyDb","server":"10.0.0.172","encyption":true,"database":""}]